apiVersion: apps/v1
kind: Deployment
metadata:
  name: estoque
  namespace: pedidos-veloz
  labels:
    app: estoque
spec:
  replicas: 2
  selector:
    matchLabels:
      app: estoque
  strategy:
    type: RollingUpdate
    rollingUpdate:
      maxSurge: 1
      maxUnavailable: 0
  template:
    metadata:
      labels:
        app: estoque
    spec:
      securityContext:
        runAsNonRoot: true
        runAsUser: 1000
        seccompProfile:
          type: RuntimeDefault
      containers:
        - name: estoque
          image: pedidos-veloz-estoque:latest
          imagePullPolicy: IfNotPresent
          ports:
            - containerPort: 8003
          resources:
            requests:
              memory: "64Mi"
              cpu: "50m"
            limits:
              memory: "256Mi"
              cpu: "300m"
          livenessProbe:
            httpGet:
              path: /health
              port: 8003
            initialDelaySeconds: 10
            periodSeconds: 15
          readinessProbe:
            httpGet:
              path: /health
              port: 8003
            initialDelaySeconds: 5
            periodSeconds: 10
